.scroll-top-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 50px;
  bottom: -200px;
  cursor: pointer;
  transition: all .5s;
  z-index: 999;
}
.scroll-top-btn img {
  width: 100%;
}
.scroll-top-btn--visible {
  bottom: 50px;
}